.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/
.cahce/
.conda/
.config/
.local/
.cache/
pythonProject/
history.Rhistory
.Rhistory
.RDataTmp
.RDataTmp1
raw_data/
processed_data/
/Notebooks/old
/Notebooks/old
/Notebooks/input_data
/input_data
/.snakemake
temp_data/
.Renviron
.h5ad
/sci/labs/yotamd/lab_share/avishai.wizel/R_projects/EGFR/Reports/xeno/04_cnmf/02_run_cnmf_1.7/BatchCorrected_cnmf/cnmf_temp/